@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
<<<<<<< HEAD
@import './transitions';
@import './variables';
@import './base';

@font-face {
  font-family: RobotoSlab;
  font-weight: normal;
  src: url(~assets/font/RobotoSlab.ttf) format("opentype");
}
@font-face {
    font-family: Gordita;
    font-weight: normal;
    src: url(~assets/font/Gordita-Regular.otf) format("opentype");
  }

  @font-face {
    font-family: Gordita;
    font-weight: bold;
    src: url(~assets/font/Gordita-Bold.otf) format("opentype");
  }

  @font-face {
    font-family: Gordita;
    font-weight: lighter;
    src: url(~assets/font/Gordita-Light.otf) format("opentype");
  }

  @font-face {
    font-family: Gordita;
    font-weight: 500;
    src: url(~assets/font/Gordita-Medium.otf) format("opentype");
  }
=======
>>>>>>> 205fe8355933416993de80caedcee6f54ce29e31
