.slide-y-enter-active,
.slide-y-leave-active {
  position: absolute;
  transform-origin: top;
}

.slide-y-enter-active {
  transition: all 300ms ease-out;
}

.slide-y-leave-active {
  transition: all 200ms ease-in;
}

.slide-y-leave,
.slide-y-enter-to {
  transform: translateY(0);
  opacity: 1;
}

.slide-y-enter,
.slide-y-leave-to {
  transform: translateY(-2rem);
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 500ms ease-out;
  transition-duration: 500ms;
}

.fade-leave-active {
  transition: opacity 500ms ease-in;

}

.fade-leave,
.fade-enter-to {
  opacity: 1;
  
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-scale-in {
  transform-origin: top right;
  animation-name: fade-scale-in;
  animation-duration: 300ms;
  animation-delay: 100ms;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
 
}

.fade-scale-out {
  transform-origin: top right;
  animation-name: fade-scale-out;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes fade-scale-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-scale-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}
