:root {
  --color-white-default: #fff;
  --color-white-95: rgba(255, 255, 255, 0.95);
  --color-white-90: rgba(255, 255, 255, 0.9);
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-white-75: rgba(255, 255, 255, 0.75);
  --color-white-70: rgba(255, 255, 255, 0.7);
  --color-white-60: rgba(255, 255, 255, 0.6);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-40: rgba(255, 255, 255, 0.4);
  --color-white-30: rgba(255, 255, 255, 0.3);
  --color-white-25: rgba(255, 255, 255, 0.25);
  --color-white-20: rgba(255, 255, 255, 0.2);
  --color-white-10: rgba(255, 255, 255, 0.1);
  --color-white-5: rgba(255, 255, 255, 0.05);

  --color-blue-15: #000631;
  --color-blue-10: #274486;
  --color-blue-5: #1CA3EC;

  --color-yellow: #F5C123;

  --color-gray-100: #f5f6fd;
  --color-gray-200: #dbdef1;
  --color-gray-300: #bdbfcc;
  --color-gray-400: #797a85;
  --color-gray-500: #555555;
  --color-gray-600: #4c4b5c;
  --color-gray-700: #393858;
  --color-gray-800: #232233;
  --color-gray-900: #191920;

  --color-purple-100: #796c96;
  --color-purple-200: #905d99;
  --color-purple-300: #6d337f;
  --color-purple-400: #6c327e;
  --color-purple-500: #602b70;
  --color-purple-600: #522360;
  --color-purple-700: #511c5f;
  --color-purple-800: #320b44;
  --color-purple-900: #1d0d36;
  --color-purple-light-100: #683ea5;

  --color-pink-100: #f9b4d2;
  --color-pink-200: #964f92;
  --color-pink-300: #903b85;
  --color-pink-400: #db5097;
  --color-pink-500: #d94e96;
  --color-pink-600: #c53a97;
  --color-pink-700: #eb3f87;
  --color-pink-800: #e22788;
  --color-pink-900: #872a5a;
  --color-footer-error: #fab2d7;

  --width-header: 100%;
  --height-header-sm: 420px;
  --height-header-md: 420px;
  --height-header-lg: 598px;
  --background-size-header: 100%, 25%, 25%;


}

@custom-media --sm (width >= 576px);
@custom-media --md (width >= 786px);
@custom-media --lg (width >= 992px);
@custom-media --xl (width >= 1200px);
